<!DOCTYPE html>
<html>
    <head>
        <title>
            Practico Nro 1
        </title>
    </head>
    <body>
        <header>
            <h1>Ingles Avanzado</h1>
        </header>
        <nav><a href="index.html">Inicio</a></p><p>Autoridades</p><p>Cursos</p><p>Contacto</p></nav>
        <section>
            <h2>Detalles</h2>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eaque magni eligendi autem rem nostrum. Animi necessitatibus, cum amet eius totam iste temporibus, dolores quasi, quas perspiciatis sunt dignissimos. Quisquam.
            </div>
            <div><a href="inscripcion.html">Inscribirse</a></div>
        </section>
    </body>
</html>