<!DOCTYPE html>
<html>
    <head>
        <title>
            Practico Nro 1
        </title>
    </head>
    <body>
        <header><h1>Cursos de Posgrado</h1></header>
        <nav><a href="index.html">Inicio</a></p><p>Autoridades</p><p><a href="agregar_curso.html">Cursos</a><p>Contacto</p></nav>
        <section>
            <h2>Cursos disponibles</h2>
            <div>
                <ul>
                    <li>Ingles Avanzado <p>Este curso te permite afianzar tus conocimientos en ingles... 
                        <a href="detalleIngles.html">Mas detalles</a></p></li>
                    <li>Frances Avanzado <p>Este curso te permite afianzar tus conocimientos en frances... 
                        <a href="detalleFrances.html">Mas detalles</a></p></li>
                    <li>SCRUM Master <p>Este curso te permite desarrollarte como jefe de proyectos de software... 
                        <a href="detalleScrum.html">Mas detalles</a></p></li>
                </ul>
            </div>
        </section>
        <footer>
            <p>(C) Secretaria de Posgrado - Facultad de Tecnologia y Ciencias Aplicadas - Universidad Nacional de Catamarca</p>
            <p>Maximio Victoria 50 - San Fernando del Valle de Catamarca</p>
        </footer>
    </body>
</html>