<!DOCTYPE html>
<html>
    <head>
        <title>
            Practico Nro 1
        </title>
    </head>
    <body>
        <header>
            <h1>Inscripcion</h1>
        </header>
        <nav><a href="index.html">Inicio</a></p><p>Autoridades</p><p>Cursos</p><p>Contacto</p></nav>
        <section>
            <h2>Formulario de Inscripcion</h2>
            <div>
                <p>Para poder Inscribirse en el curso, complete el siguiente formulario</p>
                <form action="pago.html" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Datos Básicos</legend>
                        <label for="cuil">CUIL</label>
                        <input type="number" name="cuil" id="cuil" size="11" maxlength="11" required/><br><br>
                        <label for="nombre">Nombre Completo</label>
                        <input type="text" name="nombre" id="nombre" size="50" maxlength="250" required/><br><br>
                        <label for="cuil">Teléfono</label>
                        <input type="number" name="telefono" id="telefono" size="50" maxlength="10"required /><br><br>
                        <fieldset>
                            <legend>Domicilio</legend>
                            <label for="calle">Calle</label>
                            <input type="text" name="calle" id="calle" size="50" maxlength="100" required>
                            <label for="numero_calle">Nro</label>
                            <input type="number" name="numero_calle" id="numero_calle" size="5" maxlength="5"><br>
                            <label for="localidad">Localidad</label>
                            <input type="text" name="localidad" id="localidad" size="50" maxlength="100" required>
                            <label for="departamento">Departamento</label>
                            <input type="text" name="departamento" id="departamento" size="50" maxlength="100">
                            <label for="provincia">Provincia</label>
                            <input type="text" name="provincia" id="provincia" size="50" maxlength="100" required>
                        </fieldset><br>
                        <label for="email">Correo Electronico</label>
                        <input type="email" name="email" id="email" size="50" maxlength="250" required/><br><br>
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" size="50" maxlength="250" required /><br><br>
                        <label for="categoria">Categoria</label>
                        <input type="radio" name="categoria" value="alumno" checked="checked"> Alumno
                        <input type="radio" name="categoria" value="profesor" > Profesor <br><br>
                        <input type="submit" name="confirmar" value="Inscribirse">
                        <input type="reset" name="cancelar" value="Cancelar">
                    </fieldset>
                </form>
            </div>
        </section>
    </body>
</html>